<footer>
    <p>&copy; 2026 Cake Lab Patisserie. All Rights Reserved.</p>
    <div style="margin-top: 10px; font-size: 0.8rem; opacity: 0.5; ">
        <a href="/admin/products" style="color: inherit; text-decoration: none;">管理員登入</a>
    </div>
</footer>