
<nav class="navbar">
    <a href="/" class="logo">
        <img src="/img/logo.png" alt="Cake Lab 蛋糕實驗室">
        <span>Cake Lab</span>
    </a>
    <ul class="nav-links">
        <li><a href="/about">品牌故事</a></li>
        <li><a href="/menu">商品目錄</a></li>
        <li><a href="/order">訂購商品</a></li>
        <li><a href="/search">訂單查詢</a></li>
        <li><a href="/contact">門市資訊</a></li>
    </ul>
</nav>